.header-top-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-left {
  display: flex;
}

.top-right {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .header-top-container {
    justify-content: center;
  }

  .top-left {
    margin-right: 46px;
  }

  .top-right {
    margin-right: 16px;
  }
}