.available-now-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #DFDFDF;
  padding: 28px 0;
  width: 100%;
  max-width: 1440px;
  background-color: #ffffff;
}

.available-now-container img {
  margin-right: 32px;
}

.available-now-link {
  text-decoration: underline;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: #5E20A4;

  margin-right: 2px;
}

.available-now-schedule {
  font-family: 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

@media screen and (max-width: 600px) {
  .available-now-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .available-now-link {
    width: 212px;
    margin-bottom: 12px;
  }

  .available-now-schedule {
    font-family: 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }

  .available-now-container img {
    margin-right: 0;
    margin-bottom: 16px;
  }
}
