nav {
  display: flex;
  margin: 20px 0 0 40px;
  font-size: 14px;
  line-height: 20px;
  color: white;
}

nav a {
  margin: 0 16px;
}

@media screen and (max-width: 600px) {
  nav {
    font-size: 0;
    width: 0px;
  }
}