.desc-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 784px;
  text-align: center;
}

.desc-section-container h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
  color: #3D3D3D;
  margin-top: 96px;
}

.desc-section-container p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #3D3D3D;
  margin: 40px 0;
}

.desc-section-link {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #5E20A4;
  margin-bottom: 64px;
}

.desc-section-container img {
  width: 984px;
  margin-bottom: 104px;
}

@media screen and (max-width: 600px) {
  .desc-section-container {
    margin: 64px 0;
  }

  .desc-section-container h2 {
    margin-top: 0;
    width: 260px;
    font-size: 22px;
  }

  .desc-section-container p {
    margin: 16px 16px 24px;
  }

  .desc-section-link {
    margin-bottom: 0;
    width: 328px;
  }

  .desc-section-container img {
    display: none;
  }
}