.header-container {
  background-image: url('../../assets/header-background.svg');
  background-repeat: no-repeat;
  width: 100%;
  max-width: 1440px;
  min-height: 616px;
  background-color:#5E20A4;
  display: flex;
  flex-direction: column;
}

.header-middle-section {
  display: flex;
  margin: auto;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}

@media screen and (max-width: 600px) {
  .header-container {
    background-position: -600px; 
  }
  
  .header-middle-section img {
    display: none;
  }
}