* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  font-family: 'Inter', sans-seriff;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-color: #FAF9F7;
}