* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  font-family: 'Inter', sans-seriff;
}

.section-divider {
  width: 784px;
  height: 0px;
  border: 2px solid #DFDFDF;
  margin: auto;
}